@keyframes translate-horz {
  0% {
    left: -20%;
  }

  100% {
    left: 120%;
  }
}

@keyframes shine {
  0% {
    box-shadow: 0 0 35px 3px $yellow;
  }

  50% {
    box-shadow: 0 0 10px 1px $yellow;
  }

  100% {
    box-shadow: 0 0 35px 3px $yellow;
  }

}

@keyframes twinkle {
  0% {
    box-shadow: 0 0 1rem 3px $white_color;
  }

  50% {
    box-shadow: 0 0 .5rem 1px $white_color;
  }
  50% {
    box-shadow: 0 0 1rem 1px $white_color;
  }
  50% {
    box-shadow: 0 0 .5rem 1px $white_color;
  }

  100% {
    box-shadow: 0 0 1rem 3px $white_color;
  }
}

@keyframes change-sky-bg-color {
  0% {
    background-color: $sky_color;
  }
  25% {
    background-color: darken($sky_color, 25);
  }
  50% {
    background-color: $black_color
  }
  75% {
    background-color: darken($sky_color, 25);
  }
  100% {
    background-color: $sky_color;
  }
}

@keyframes change-water-bg-color {
  0% {
    background-color: $water_color;
  }
  25% {
    background-color: darken($water_color, 5);
  }
  50% {
    background-color: darken($water_color, 25);
  }
  75% {
    background-color: darken($water_color, 5);
  }
  100% {
    background-color: $water_color;
  }
}

@keyframes change-star-opacity {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  45% {
    opacity: .4;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: .4;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes change-veil-opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sun-translation {
  0% {
    transform: translate(0, 0);
  }
  48% {
    transform: translate(25vw, 55vh);
  }
  49% {
    transform: translate(-25vw, 55vh);

  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes cloud-color-change {
  0% {
    background-color: $white_color;
  }

  25% {
    background-color: darken($white_color, 10);
  }
  50% {
    background-color: darken($white_color, 70);
  }
  75% {
    background-color: darken($white_color, 10);
  }

  100% {
    background-color: $white_color;
  }
}



