$primary_color: #546E7A;
$secondary_color: #78909C;
$tertiary_color: #90A4AE;
$black_color: #263238;
$grey_color: #ECEFF1;
$white_color: #FAFAFA;
$sky_color: #ffb063;
$water_color: #2d9ead;

$light-green: #1abd77;
$green: #2dad70;
$dark-green: #296f4e;
$maroon: #924444;
$yellow: #e9ec31;

//Components
$veil-default-color: transparentize($black_color, .3);

// HEIGHTS
$sky-height: 60%;
$lake-height: 100% - $sky-height;
$content-height: 95%;

// WIDTHS
$content-width: 70%;

$animation-duration: 120s;