$size: 5rem;

.cloud {
  position: relative;
  transform: translateX(-100%);
  z-index: 3;
  animation: translate-horz 50s linear infinite;
  height: $size;
  width: $size + 1.5rem;

  &::after {
    top: 40%;
    height: $size - 1.5rem;
    width: $size;
    border-radius: 60%;
    box-shadow: 1px -1px 7px transparentize($black_color, .8);
    left: -2rem;
  }

  &::before {
    height: 100%;
    width: 100%;
    border-radius: 60%;
    opacity: .8;
    top: 0;
    left: 0;
  }

  &::after, &::before {
    content: '';
    position: absolute;
    background-color: $white_color;
    animation: cloud-color-change 50s linear infinite;
  }
}
