.sea-flower {
  z-index: 2;
  position: relative;
  left: -20%;
  height: 5rem;
  width: 8rem;
  border-radius: 45%;
  background-color: $dark-green;
  box-shadow: 0 2px 0 1px darken($dark-green,8);
  animation: translate-horz $animation-duration/3 linear infinite;

  &::after,
  &::before {
    transform: rotate(10deg);
    position: absolute;
    content: '';
    left: 3.7rem;
  }

  &::before {
    bottom: .9rem;
    height: 2rem;
    width: .2rem;
    background-color: darken($dark-green,10);
  }

  &::after {
    top: -1rem;
    height: 1.2rem;
    width: .5rem;
    border-radius: .2rem;
    background-color: $maroon;
    box-shadow: 1px 2px 5px transparentize($black_color,.5);
  }

  &.reverse {
    &::after,
    &::before {
      transform: rotate(-10deg);
    }

    &::after {
      left: 3.3rem;
    }
  }
}
