.stars-wall {
   animation: change-star-opacity $animation-duration linear infinite;

  .star {
    position: absolute;
    border-radius: 50%;
    height: .5rem;
    width: .5rem;
    background-color: $white_color;
    box-shadow: 1px 1px .5rem 1px $white_color;
    animation: twinkle 1s ease-in-out infinite;
  }
}
