extends templates/main

block metatags
    title Index

block content
    #wrapper
        #content
            #sky
                .stars-wall
                .sun
                .cloud
                .cloud( style="animation-delay: 9s")
                .cloud( style="animation-delay: 1s")
                .cloud( style="animation-delay: 32s")
                .cloud( style="animation-delay: 36s")
                .cloud( style="animation-delay: 12s")
            #lake
                .night-veil
                .water
                br
                .see-flower.reverse
                .see-flower( style="animation-delay: 2s")
                .see-flower( style="animation-delay: 12s")
                .see-flower.reverse( style="animation-delay: 18s")
                .see-flower.reverse( style="animation-delay: 34s")
                .see-flower.reverse( style="animation-delay: 38s")
                .see-flower( style="animation-delay: 22s")
                .see-flower.reverse(style="animation-delay: 6s")
                .see-flower.reverse(style="animation-delay: 16s")
                .duck
